[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
bibtexparser = {git = "https://github.com/michaelfruth/python-bibtexparser.git"}

[requires]
python_version = "3.9"
